.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 250px;
  margin: 20px;
  color: #fff;
  border-radius: 10px;
  font-size: 22px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}
