.container {
  position: relative;
  top: 2rem;
  text-align: center;
}

.heading {
  color: #b85d1c;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.heading h1 {
  margin: 0 0 0.1rem 0;
}
.heading h3 {
  margin: 0 0 0.6rem 0;
}

.small-line {
  width: 9rem;
  height: 0.1rem;
  margin: 0 auto 1rem auto;
  background-color: #b85d1c;
}

.big-line {
  width: 20rem;
  height: 0.1rem;
  margin: auto;
  background-color: #b85d1c;
}

.text {
  color: #ddd;
}
