.footer {
  position: relative;
  right: 3rem;
  bottom: 0;
  text-align: right;
  width: 100%;
  padding: 40px;
}

.footer i {
  color: tomato;
}

.footer span {
  color: goldenrod;
  /* margin-left: 5px; */
  font-size: 1.4rem;
}
